/* ZMIENNE */
:root {
    --color-active: #2196F3;
    --text-main: #212121;
    --text-secondary: #757575;
    --text-h1: #FFFFFF;
    --text-active-button: #FFFFFF;
    --text-address: #FFFFFF;
    --text-studio-footer: #FFFFFF;
    --color-team-members-background: #FFFFFF;
    --color-join-us: #FFFFFF;
    --color-pic-description: #FFFFFF;
    --color-card-popup-description: #FFFFFF;
    --color-modal-window: #FFFFFF;
    --color-h1-footer-background: #2F303A;
    --text-footer-contact: rgba(255, 255, 255, 0.6);
    --color-button-background: #F5F4FA;
    --color-our-team-background: #F5F4FA;
    --color-our-strengths-icon-background: #F5F4FA;
    --text-studio-header: #000000;
    --color-portfolio-border: #EEEEEE;
    --color-header-border: #ECECEC;
    --color-icon: #AFB1B8;
    --color-social-icon-footer: #FFFFFF1A;
    --color-backdrop: #00000033;
    --color-form-borders: #21212133;
    --color-text-placeholder: #75757580;
    --color-form-icon: #212121;
}
/* KONIEC: ZMIENNE */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--text-main);
}

.box-menu__Webstudio-header,
.box-menu__Web,
.footer-block__Webstudio,
.box-menu__header,
.footer-block__contact-info,
.footer-block__address {
    text-decoration: none;
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-menu__Web, .footer-block__Web {
    color: var(--color-active);
    font-weight: 700;
}

/* USTAWIENIA DLA HEADERÓW I FOOTERÓW, BEZ FLEXBOXÓW */

.box-menu__header--active::after {
    content: '';
    background-color: var(--color-active);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 42px;
    right: 0px;
}

.box-menu__Webstudio-header {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-studio-header);
    margin-left: 15px;
}

.footer-block__Webstudio {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-studio-footer);
    display: block;
    margin-bottom: 20px;
}

.box-menu__Webstudio-header:hover, .box-menu__Webstudio-header:focus {
    color: var(--text-studio-header);
    font-size: 26px;
    font-weight: 700;
}

.footer-block__Webstudio:hover, .footer-block__Webstudio:focus {
    color: var(--text-studio-footer);
    font-size: 26px;
    font-weight: 700;
}

.box-menu__Webstudio-header,
.box-menu__header,
.footer-block__contact-info {
    color: var(--text-main);
}

.box-menu__header {
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.box-menu__header:hover,
.box-menu__header:focus {
    fill: var(--color-active);
    color: var(--color-active);
    font-weight: 500;
}

.box-menu__icon {
    margin-right: 10px;
}

.footer-block__address {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-address);
    background-color: var(--color-h1-footer-background);
    font-style: normal;
}

.footer-block__contact-info {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-footer-contact);
    background-color: var(--color-h1-footer-background);
}

.footer {
    background-color: var(--color-h1-footer-background);
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-block__contact-info:hover,
.footer-block__contact-info:focus {
    color: var(--color-active);
}

.box-menu__header--active {
    color: var(--color-active);
}

/* KONIEC: USTAWIENIA DLA HEADERÓW I FOOTERÓW, BEZ FLEXBOXÓW */

/* USTAWIENIA DLA BODY INDEXU, BEX FLEXBOXÓW */

.headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-h1);
}

.order-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-active-button);
    background: var(--color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
}

.strengths__heading {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.strengths__text {
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--text-secondary);
}

.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.employees__employee {
    background-color: var(--color-our-team-background);
    text-align: center;
}

.section--team {
    background-color: var(--color-our-team-background);
    margin-right: 30px;
}

.employees__employee-tile {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color-team-members-background);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);
            }

.employees__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 30px;
}

.employees__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    padding-top: 10px;
}

.modal-window-backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-backdrop);
    transition-property: opacity;
    transition-duration: 700ms;
    opacity: 100%;
}

.modal-window {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--color-modal-window);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033,
                0px 1px 1px 0px #00000024,
                0px 1px 3px 0px #0000001F;
    transition-property: opacity;
    transition-duration: 700ms;
    opacity: 100%;
    text-align: center;
}

.modal-window__button-box {
    text-align: right;
}

.modal-window-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: var(--color-modal-window);
    padding: 0px;
    margin-top: 8px;
    margin-right: 8px;
}

.modal-window-button:hover {
    cursor: pointer;
}

.is-hidden {
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 700ms;
    opacity: 0%;
    pointer-events: none;
}

.form-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    padding-bottom: 12px;
}

.ordering-form__name,
.ordering-form__phone,
.ordering-form__mail,
.ordering-form__comment {
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ordering-form__input {
    width: 448px;
    height: 40px;
    border: 1px solid var(--color-form-borders);
    margin-left: 40px;
    border-radius: 4px;
    transition-property: color, fill, background-color, box-shadow, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ordering-form__comment-field {
    resize: none;
    width: 448px;
    height: 120px;
    display: block;
    padding: 12px 16px;
    border: 1px solid var(--color-form-borders);
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 4px;
    transition-property: color, fill, background-color, box-shadow, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__mail,
.ordering-form__name,
.ordering-form__phone,
.ordering-form__mail,
.ordering-form__comment,
.ordering-form__formalities {
    position: relative;
}

.ordering-form__icon {
    position: absolute;
    left: 55px;
    top: 32px;
    fill: var(--color-form-icon);
}

.ordering-form__comment-field::placeholder {
    color: var(--color-text-placeholder);
}

.ordering-form__subheading {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-secondary);
    margin-left: 40px;
    margin-bottom: 4px;
}

.ordering-form__input {
    padding-left: 42px;
}

.ordering-form__phone,
.ordering-form__mail,
.ordering-form__comment,
.ordering-form__formalities {
    margin-top: 10px;
}

.ordering-form__formalities {
    color: var(--text-secondary);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.ordering-form__terms-conditions {
    color: var(--color-active);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
}

.submit-button {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: var(--color-active);
    color: var(--text-active-button);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    margin-top: 30px;
    padding: 0px;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
}

.ordering-form__input:hover,
.ordering-form__input:focus,
.ordering-form__terms-checkbox:hover,
.ordering-form__terms-checkbox:focus,
.ordering-form__comment-field:hover,
.ordering-form__comment-field:focus {
    border-color: var(--color-active);
    outline: none;
}

.ordering-form__input:hover + .ordering-form__icon,
.ordering-form__input:focus + .ordering-form__icon,
.ordering-form__terms-checkbox:hover + .ordering-form__icon,
.ordering-form__terms-checkbox:focus + .ordering-form__icon,
.ordering-form__input:hover,
.ordering-form__terms-checkbox:hover,
.ordering-form__icon:hover {
    fill: var(--color-active);
}

.ordering-form__terms-checkbox {
	display: inline-block;
	position: relative;
}

.submit-button-newsletter {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: var(--color-active);
    color: var(--text-active-button);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    margin-top: 36px;
    margin-left: 12px;
    padding: 0px;
    box-shadow: 0px 4px 4px 0px #00000026;
    position: relative;
}

.submit-button-newsletter:focus,
.submit-button-newsletter:hover {
    cursor: pointer;
}

.submit-button-newsletter-box {
    position: relative;
}

.submit-button-newsletter__icon {
    position: absolute;
    left: 160px;
    top: 13px;
}

.ordering-form__terms-box {
    position: relative;
}

.ordering-form__checkbox-icon {
    position: absolute;
    left: 53px;
    top: 1px;
}

.check-icon {
    z-index: 10;
}

.ordering-form__checkbox-icon--uncheck {
    z-index: 15;
    background-color: white;
}

.ordering-form__terms-checkbox:checked + .ordering-form__checkbox-icon--uncheck,
.ordering-form__terms-checkbox:checked {
    z-index: 0;
    opacity: 0%;
}

.ordering-form__terms-checkbox {
    position: relative;
    right: 202px;
}

.ordering-form__statement {
    position: absolute;
    right: 48px;
    top: -2px;
}

.newsletter__slogan {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--text-active-button);
}

.submit-button-newsletter__text {
    position: absolute;
    left: 42px;
    top: 10px;
}

.newsletter__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: var(--color-h1-footer-background);
    color: #FFFFFF99;
    margin-top: 20px;
}

.newsletter__input:hover,
.newsletter__input:focus {
    outline: none;
    border-color: #FFFFFF4D;
}

.newsletter-box {
    position: relative;
    margin-left: 78px;
}





/* KONIEC: USTAWIENIA DLA BODY INDEXU, BEX FLEXBOXÓW */

/* USTAWIENIA DLA BODY PORTFOLIO, BEZ FLEXBOXÓW */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: var(--color-button-background);
    border-radius: 4px;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus{
    color: var(--text-active-button);
    background: var(--color-active);
    box-shadow: 0px 2px 2px 0px #0000001F,
                0px 1px 2px 0px #00000014,
                0px 3px 1px 0px #0000001A;

}

.products__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 23px;
    padding-top: 20px;
}

.products__category {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    font-weight: 400;
    padding-left: 23px;
    padding-top: 4px;
    padding-bottom: 19px;
}

.products__product-tile {
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products__product-tile:hover,
.products__product-tile:focus {
    box-shadow: 1px 4px 6px 0px #00000029,
    0px 4px 4px 0px #0000000F,
    0px 1px 1px 0px #0000001F;
    ;
    cursor: pointer;
}

/* KONIEC: USTAWIENIA DLA BODY PORTFOLIO, BEZ FLEXBOXÓW */

/* USTAWIENIA POZYCJONOWANIA I FLEXBOXÓW WSPÓLNE DLA INDEXU I PORTFOLIO */

h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0px;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    border-bottom: solid var(--color-header-border) 1px;
}

.box-menu {
    margin-top: 24px;
    display: flex;
    height: 56px;
    align-items: baseline;
}

.box-menu__header:nth-child(2) {
    margin-left: 93px;
}

.box-menu__header:nth-child(3) {
    margin-left: 46px;
}

.box-menu__header:nth-child(4) {
    margin-left: 46px;
}

.box-menu__header--contact {
    fill: var(--color-icon);
}

.box-menu__header--contact:nth-child(1) {
    margin-left: 345px;
}

.box-menu__header--contact:nth-child(2) {
    margin-left: 30px;
}

.container--footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-block__address {
    display: block;
    margin-bottom: 9px;
}

.footer-block__contact-info {
    display: block;
}

.footer-block:nth-child(2) {
    margin-left: 70px;
}

.join-us {
    color: var(--color-join-us);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0,03em;
}

.footer-elements {
    display: flex;
    padding-left: 15px;
    list-style-type: none;
}

.socials__circle--footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-join-us);
    background-color: var(--color-social-icon-footer);
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0px;
}

.socials__circle--footer:hover,
.socials__circle--footer:focus {
    background-color: var(--color-active);
    fill: var(--color-join-us);
    cursor: pointer;
}
.footer-block__contact-info:nth-child(3) {
    margin-bottom: 9px;
}

/* KONIEC: USTAWIENIA POZYCJONOWANIA I FLEXBOXÓW WSPÓLNE DLA INDEXU I PORTFOLIO */

/* FLEXBOXY I POZYCJONOWANIE INDEX.HTML*/
.headline {
    width: 696px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.box-headline {
    padding: 200px 252px 200px 252px;
    background-image: url(../images/background-photo.jpg), 
    linear-gradient(
    to right,
    #2F303A66,
    #2F303A66
    );
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1600px;
    background-color: var(--color-h1-footer-background);
}

.order-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px;
}

.strengths {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.strengths-icons {
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 0px;
    list-style-type: none;
}

.strengths-icons__strength-background {
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--color-our-strengths-icon-background);
    justify-content: center;
    align-items: center;
}

.strengths__text-block {
    width: 270px;
}

.strengths-icons__strength:nth-child(1) {
    margin-left: 15px;
}

.strengths-icons__strength:not(:last-child) {
    margin-right: 30px;
}

.strengths__strength:nth-child(1) {
    margin-left: 15px;
}

.strengths__strength:not(:last-child) {
    margin-right: 30px;
}

.strengths__text {
    padding-top: 10px;
}

.section-name {
display: flex;
justify-content: center;
padding-bottom: 50px;
}

.product-types {
    display: flex;
    padding-left: 0px;
    list-style-type: none;
}

.product-types__product-type {
    position: relative;
}

.product-types__img {
    vertical-align:top;
}

.product-types__product-type:nth-child(1) {
    margin-left: 15px;
}

.product-types__product-type:not(:last-child) {
    margin-right: 30px;
}

.employees {
    display: flex;
    padding: 0px;
    list-style-type: none;
}

.employees__employee:not(:last-child) {
    margin-right: 30px;
}

.employees__employee:nth-child(1) {
    margin-left: 30px;
}

.employees__img-employee {
    display: block;
}

.socials__circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-icon);
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__circle:hover,
.socials__circle:focus {
    background-color: var(--color-active);
    fill: var(--color-team-members-background);
    cursor: pointer;
}

.socials {
    display: flex;
    margin-top: 16px;
    padding-bottom: 30px;
    padding-left: 0px;
    list-style-type: none;
}

.socials--footer {
    display: flex;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 0px;
    list-style-type: none;
}

.socials__icon:nth-child(1) {
    margin-left: 32px;
}

.socials__icon:not(:last-child) {
    margin-right: 10px;
}

.socials__icon--footer:nth-child(1) {
    margin-left: 0px;
}

.socials__icon--footer:not(:last-child) {
    margin-right: 10px;
}

.clients__background {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-icon);
    border: solid var(--color-icon) 1px;
    transition-property: color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__background:hover,
.clients__background:focus {
    fill: var(--color-active);
    border: solid var(--color-active) 1px;
    cursor: pointer;
}

.clients {
    display: flex;
    padding-left: 0px;
    list-style-type: none;
}

.clients__client:nth-child(1) {
    margin-left: 15px;
}

.clients__client:not(:last-child) {
    margin-right: 30px;
}

.product-types__pic-description-box {
    background-color: #2F303ACC;
    height: 70px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.product-types__pic-description {
    color: var(--color-pic-description);
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
}

/* KONIEC: FLEXBOXY I POZYCJONOWANIE INDEX.HTML */

/* FLEXBOXY I POZYCJONOWANIE PORTFOLIO.HTML */

.filters {
    display: flex;
    padding-bottom: 56px;
    padding-left: 0px;
    list-style-type: none;
}

.filter-button {
    padding: 6px 22px;
}

.filters__filter:nth-child(1) {
    margin-left: 310px;
}

.filters__filter:nth-child(2) {
    margin-left: 8px;
}

.filters__filter:nth-child(3) {
    margin-left: 8px;
}

.filters__filter:nth-child(4) {
    margin-left: 8px;
}

.filters__filter:nth-child(5) {
    margin-left: 8px;
}

.products__img {
    display: block;
}

.products {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.portfolio-bottom {
    border-bottom: solid var(--color-portfolio-border) 1px;
}

.products__product:nth-child(3n + 1) {
    margin-left: 15px;
}

.products__product:nth-child(3n + 2) {
    margin-left: 30px;
}

.products__product:nth-child(3n + 3) {
    margin-left: 30px;
}

.products__product:nth-last-child(n + 4) {
    margin-bottom: 30px;
}

.products__animation-field {
    position: relative;
    overflow: hidden;
}

.products__card-popup-box {
    background-color: #2196F3E5;
    height: 294px;
    width: 370px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 294px;
    transition-property: top;
    transition-duration: 500ms;
}

.products__product:hover .products__card-popup-box {
top: 0;
}

.products__card-popup-description {
    color: var(--color-card-popup-description);
    line-height: 1.56;
    letter-spacing: 0.03em;
    font-size: 18px;
    padding: 49px 45px 49px 24px;
}

/* KONIEC: FLEXBOXY I POZYCJONOWANIE PORTFOLIO.HTML */
